.env
venv/
__pycache__/
*.pyc
generated_tests/
data/
Generated test cases data/
Generated Automation Scripts/
allure-results/
evaluation/results/
.pytest_cache/
test_pilot.py/
test_smoke.py/
test.py/
evaluation_tests/
analysis/old_analyze_results.py